<!DOCTYPE html>
<html>
  <head>
    <title>FoodTrucks</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script async defer
    	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwfdXF6g6QdE0TyXgPQABttylq6aLLe_w&callback=initMap">
    </script>

  </head>

  <body>
  	<div class="loader"></div>
  	<div class="message"></div>

    <%= yield %>
  </body>
</html>
